<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads" xmlns:rim="http://www.blackberry.com/ns/widgets" id="phonegap-plugin-push" version="1.10.5">
  <name>PushPlugin</name>
  <description>
		This plugin allows your application to receive push notifications on Android, iOS and Windows devices.
    Android uses Google Cloud Messaging.
    iOS uses Apple APNS Notifications.
    Windows uses Microsoft WNS Notifications.
	</description>
  <license>MIT</license>
  <js-module src="www/push.js" name="PushNotification">
    <clobbers target="PushNotification"/>
  </js-module>
  <engines>
    <engine name="cordova" version=">=6.4.0"/>
    <engine name="cordova-ios" version=">=4.3.0"/>
  </engines>
  <preference name="SENDER_ID" default="85075801930"/>
  <platform name="browser">
    <js-module src="www/browser/push.js" name="BrowserPush">
      <clobbers target="PushNotification"/>
    </js-module>
    <asset src="src/browser/ServiceWorker.js" target="ServiceWorker.js"/>
    <asset src="src/browser/manifest.json" target="manifest.json"/>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="PushNotification">
        <param name="ios-package" value="PushPlugin"/>
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>
    <config-file target="*-Info.plist" parent="GCM_SENDER_ID">
      <string>$SENDER_ID</string>
    </config-file>
    <config-file target="*-Info.plist" parent="IS_GCM_ENABLED">
      <true/>
    </config-file>
    <config-file target="*-Debug.plist" parent="aps-environment">
      <string>development</string>
    </config-file>
    <config-file target="*-Release.plist" parent="aps-environment">
      <string>production</string>
    </config-file>
    <source-file src="src/ios/AppDelegate+notification.m"/>
    <source-file src="src/ios/PushPlugin.m"/>
    <header-file src="src/ios/AppDelegate+notification.h"/>
    <header-file src="src/ios/PushPlugin.h"/>
    <framework src="AddressBook.framework"/>
    <framework src="libsqlite3.tbd"/>
    <framework src="libz.tbd"/>
    <framework src="GoogleCloudMessaging" type="podspec" spec="~> 1.2.0"/>
    <framework src="GGLInstanceID" type="podspec" spec="~> 1.2.1"/>
  </platform>
  <platform name="windows">
    <hook type="after_plugin_install" src="hooks/windows/setToastCapable.js"/>
    <js-module src="src/windows/PushPluginProxy.js" name="PushPlugin">
      <runs/>
    </js-module>
    <config-file target="config.xml" parent="/*">
      <preference name="WindowsToastCapable" value="true"/>
    </config-file>
  </platform>
</plugin>
